In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

df = pd.read_csv("sample.csv")

In [3]:
df.head(20)

    Width  Length        Insect
0    2.30    8.56  Stick Insect
1    3.43    7.68  Stick Insect
2    1.32   12.32  Stick Insect
3    2.34    9.45  Stick Insect
4    1.87    7.45  Stick Insect
5    3.76   10.22  Stick Insect
6    1.65    9.43  Stick Insect
7    2.87    9.43  Stick Insect
8    3.00   10.56  Stick Insect
9    7.68    2.43      LadyBird
10   6.45    1.23      LadyBird
11   9.56    0.78      LadyBird
12   5.34    2.67      LadyBird
13   8.21    4.21      LadyBird
14   7.54    1.88      LadyBird
15   6.77    3.56      LadyBird
16   9.00    2.56      LadyBird
17   8.00    2.00      LadyBird
18   2.31   11.00  Stick Insect
19   7.00    4.50      LadyBird

In [33]:
kf = KFold(n_splits=10, shuffle=True)

In [35]:
for train, test in kf.split(df):
    print("Train:")

[14 18]
[ 3 10]
[0 7]
[11 15]
[ 6 16]
[2 9]
[1 4]
[ 5 13]
[ 8 17]
[12 19]

In [6]:
for train_index, test_index in kf:
    print("TRAIN: ", train_index, "TEST: ", test_index)

TypeError: 'KFold' object is not iterable